* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #0f172a;
}
.canvas-css {
  opacity: 1;
  z-index: 1;
  position: relative;
}
canvas {
  width: 100%;
  height: 100vh;
}